
__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/

.uv/
uv-cache/

db.sqlite3
media/
staticfiles/

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

.git/
.gitignore

Dockerfile*
compose.yml

node_modules/

.cache/
huggingface_cache/

dist/
build/
*.egg-info/

.env
.env.*

sam3/