__pycache__/
*.py[cod]
*.so

.venv/

build/
dist/
*.egg-info/

.ipynb_checkpoints/

.vscode/

.DS_Store

Thumbs.db

*.log

.env

launch_command.txt
autoLoginGenerate.py
sam3/
app/
media/photos/*
!media/photos/.gitkeep
staticfiles/