{% load static %}
{% load static_tags %}
{% load svg %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <meta charset="UTF-8">
  <title>質感あつめ</title>
  <link rel="icon" href="{% static_ts 'image/favicon.ico' %}">
  <link rel="stylesheet" href="{% static_ts 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

  {% block unique_css %}{% endblock %}
</head>

<body>
  <header>
    <nav>
      <a href="/">ホーム</a> |
      <a href="{% url 'photo_gallery' %}">ギャラリー</a> |
      {% if user.is_authenticated %}
      <span>こんにちは、{{ user.username }}さん</span> |
      <form action="{% url 'logout' %}" method="post" class="nav-logout-form">
        {% csrf_token %}
        <button type="submit" class="nav-logout-btn">
          ログアウト
        </button>
      </form>
      {% else %}
      <a href="{% url 'login' %}">ログイン</a> |
      <a href="{% url 'signup' %}">サインアップ</a>
      {% endif %}
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  {% block unique_js %}{% endblock %}
</body>

</html>