{% extends "base.html" %}
{% load svg %}
{% load static %}
{% load static_tags %}

{% block unique_css %}
<link rel="stylesheet" href="{% static_ts 'css/home2.css' %}">
{% endblock %}

{% block unique_js %}
<script>
</script>
<script src="{% static_ts 'js/home2.js' %}"></script>
{% endblock %}

{% block content %}
<h1>質感アプリ</h1>

{% if user.is_authenticated %}
{% for item in count_segment %}
<p>こんにちは、{{ user.username }}さん。</p>
<p>現在&nbsp;{{item.count}}&nbsp;枚の素材が記録されています。</p>
{% endfor %}
{% else %}
<p>このアプリを利用するには、<a href="{% url 'login' %}">ログイン</a>してください。</p>
<p>アカウントをお持ちでない場合は、<a href="{% url 'signup' %}">サインアップ</a>から登録できます。</p>
{% endif %}

<hr>
{% if user.is_authenticated %}
<div id="playground" class="tab-pane">
  <div class="tree-div">
    {% for item in count_segment %}
    <img class="tree" src="{{item.imgurl}}">
    {% endfor %}
  </div>
  <div id="imgset">
    {% for seg_photo in segmented_photos %}
    <img class="tree-photo ball" src="{{ seg_photo.get_image_url_64 }}" loading="lazy">
    {% empty %}
    {% endfor %}
  </div>
</div>
{% else %}
{% endif %}

{% include "myq/home-footer.html" %}
{% endblock %}