{% extends "base.html" %}
{% load static %}
{% load static_tags %}
{% load svg %}

{% block unique_css %}
<link rel="stylesheet" href="{% static_ts 'css/reflectance.css' %}">
{% endblock %}


{% block unique_js %}

<script type="importmap">
{
    "imports": {
        "three": "{% static 'vendor/three@0.184.0/build/three.module.js' %}",
        "three/addons/": "{% static 'vendor/three@0.184.0/examples/jsm/' %}"
    }
}
</script>

<script>
    const objectuuid = '{{ object.uuid }}'
    const imageURL = "{{ object.get_image_url }}"
    const imageDescription = "{{ object.description }}"
    const api_save_segment_URL = "{% url 'api_save_segment' %}"

    const modelURL = "{% static 'models/model.glb' %}"
    const hdriURL = "{% static 'hdri/lilienstein_1k.hdr' %}"
    const roughness = "{{ object.original_photo.roughness }}"
    const metalness = "{{ object.original_photo.metalness }}"
    const albedo = "{{ object.original_photo.albedo }}"
    const api_save_reflectance_URL = "{% url 'register_reflectance' %}"
    const gallery3URL = "{% url 'photo_gallery3' %}"
    
</script>

<script type="module" src="{% static_ts 'js/reflectance.js' %}"></script>
<script src="{% static_ts 'js/color-picker.js' %}" defer></script>

{% endblock %}


{% block content %}
<div id="gray-wall">初期化中...お待ちください。</div>
<div id="three-container"></div>
<div id="parameter-panel">
    <div class="parameter">
        <label for="roughness">粗さ:</label>
        <input type="range" id="roughness" name="roughness" min="0" max="1" step="0.01" value="{{ object.original_photo.roughness }}">
    </div>
    <div class="parameter">
        <label for="metalness">金属度:</label>
        <input type="range" id="metalness" name="metalness" min="0" max="1" step="0.01" value="{{ object.original_photo.metalness }}">
    </div>
    <div class="parameter">
        <label for="albedo">色:</label>
        <input type="color" id="albedo" name="albedo" value="{{ object.original_photo.albedo }}" hidden>
        <button id="preview" command="show-modal" commandfor="color-picker"><span>色を選択</span></button>
    </div>
</div>
<dialog id="color-picker" closedby="any">
    <div id="circle"></div>
    <input type="range" id="L-slider" min="0" max="100" value="70">
</dialog>

<div></div>
<dialog id="howtouse" closedby="any">
    <h2>＜操作方法＞</h2>
    <ul>
        <li>スライダーを操作して粗さ・金属度を調整できます。</li>
        <li>「色を選択」ボタンをクリックして、色を変更できます。</li>
    </ul>
</dialog>
<div id="button-container">
<button id="howtouse-button" command="show-modal" commandfor="howtouse">操作方法</button><button id="save-button" class="elm-hide">確定して終了</button>
</div>
<input type="hidden" id="csrf-token-input" value="{{ csrf_token }}">


{% endblock %}