{% extends "base.html" %}
{% load svg %}
{% load static %}
{% load static_tags %}

{% block unique_css %}
<link rel="stylesheet" href="{% static_ts 'css/start2.css' %}">
{% endblock %}
{% block unique_js %}
<script>
  const uploadURL = "{% url 'upload' %}";
</script>
<script src="{% static_ts 'js/start2.js' %}"></script>
{% endblock %}

{% block content %}
<h1>&nbsp;</h1>
<div class="startMenu">
  <button class="startButton" popovertarget="start-caution">
    <div>
      <div>開始</div>
    </div>
  </button>
  <div class="startHelp">
    {% svg 'help' %}
    <span>使い方</span>
  </div>
</div>
<div id="start-caution" popover="auto">
  <div>
    <img src="{% static 'image/caution01.png' %}">
    <p>⚠️撮影の際は、周囲の安全に十分ご注意ください。</p>
    <p>⚠️撮影マナーを守り、周囲にご配慮ください。</p>
    <div>
      <button class="start-back" popovertarget="start-caution" popovertargetaction="hide">戻る</button>
      <button class="start-go">撮影</button>
      <button class="start-device">端末内に保存されている画像から選択する</button>
      <form id="upload-form" style="margin-bottom: 20px;">
        {% csrf_token %}
        <input type="file" id="file-input" name="image" accept="image/*" capture="environment">
      </form>
    </div>
  </div>
</div>
<div id="loading-spinner" class="loading-spinner" popover="auto">
  <div class="spinner"></div>
  <p>処理中...</p>
</div>
{% include "myq/home-footer.html" %}
{% endblock %}